<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/all.css'/>
    <link rel='stylesheet' href='/stylesheets/top-nav.css'/>     
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/frontpage.css'/>    
    <link rel='stylesheet' href='/stylesheets/signup-login.css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">  
    <link rel="icon" type="image/png" sizes="16x16" href="../images/icons/deepdive-icon.png">
  </head>

<!-- Jason's firebase Key -->
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script src="/javascripts/app/db/config.js"></script>
<!-- /Jason's firebase Key -->

<script src="/javascripts/app/db/auth/bundle.js"></script>
<script src="/javascripts/app/db/auth/email.js"></script>
<script src="/javascripts/app/db/search.js"></script>

  <body>

<!-- Facebook SDK, the following should be right after the <body> tag -->
<script src="/javascripts/app/db/auth/facebookSDK.js"></script> 


	<!-- top nav -->
	  <div class="top-nav">


	  	<div class="full-container">

	  		<div class="search-container">

  				<div class="search-icon">
  					<i class="material-icon">search</i>
  				</div>

	  		</div>

	  		<div class="add-and-user">
	  			<div class="add-content">
	  				<i class="material-icon">add_circle_outline</i>
	  			</div>
	  			<div class="notifications">
	  				<i class="material-icon">notifications_none</i>
	  			</div>		  			
	  			<div class="user">
	  				<i class="material-icon">person</i>
	  			</div>
	  		</div>

	  	</div>
	  </div>


	<!-- main body -->
	  <div class="main">
	  	<div class="left-gutter"></div>
	  	<div class="body">
        <div class="front-page-top">
          <div class="upper">
            Welcome to DeepDive
          </div>
          <div class="lower">
            <div class="left">Today's Featured Artists</div>
            <div class="right">Thursday, July 27, 2017</div>
          </div>
        </div>
        <div class="front-page-main">
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
          <div class="front-page-cell">
            <a class="item"></a>
          </div>
        </div>        
      </div>
	  </div>
      
  </body>


	<!-- scripts -->
	  <script src="/javascripts/lib/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/app/ui/top-nav.js"></script>
		<script src="/javascripts/app/ui/main.js"></script>
    <script src='/javascripts/app/ui/search.js'></script>
    <script src='/javascripts/app/ui/add.js'></script>
    <script src='/javascripts/app/ui/signup.js'></script>
    <script src='/javascripts/app/ui/login.js'></script>
    <script src='/javascripts/app/loadpage.js'></script>
    <script src='/javascripts/app/db/vote.js'></script>
    <script src='/javascripts/app/db/follow.js'></script>
    <script src='/javascripts/app/db/like.js'></script>
    <script src='/javascripts/app/db/collection.js'></script>
    <script>
      loadpage()
      loadpage_MAIN()
    </script>
  </body>

</html>
