
<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/maintenance.css' />
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
  </head>

  <body>
  	<div class='message'>
			DeepDive is down for maintenace. We'll be back soon!
		</div>
	</body>

</html>