/*MAIN DIV (page minus nav)*/
.main {
	clear: both;
	position: absolute;
	float: left;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	z-index: 10;
  background: rgb(240,240,240);
  background: rgb(40,40,40);
}

.main > .left-gutter {
	position: relative;
	float: left;
	top: 0;
	width: calc((100% - 1000px) / 2);
	height: 100%;
}

.main > .body {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	max-height: 1000px;
}

