




.search-page-container {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;	
}

.search-page-container > .search-page-top {
	position: relative;
	float: left;
	width: 100%;
	height: 60px;
	top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	background: rgb(80,80,80);
	box-shadow: rgba(80,80,80,.2) 0 2px 2px;
	z-index: 54;
	font-family: 'Rajdhani', sans-serif;	
}
.search-page-top > .query-container {
	position: relative;
	width: 600px;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.search-page-top .query-prelude {
	position: relative;
	width: 100%;
	min-width: 100%;
	height: 25px;
	color: rgb(80,80,80);
	color: white;
	font-size: 12pt;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-page-top .query {
	position: relative;
	height: 25px;
	width: 100%;
	color: rgb(80,80,80);
	color: white;
	font-size: 14pt;
  -webkit-text-stroke: 1px;
  min-width: 200px;
  display: flex;
	align-items: center;
	justify-content: center;
}



.bottom-padding {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
}


.search-page-container > .search-page-main {
	position: relative;
	float: left;
	width: 100%;
	height: calc(100% - 75px);
	padding-top: 20px;
	padding-bottom: 100px;
	background: white;	
	background: gray;
	background: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-items: flex-start;*/
	overflow: scroll;
	-webkit-overflow-scrolling: touch;	
}

.search-page-main > .artist-results, .moment-results, .collection-results {
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
	margin: 20px;
	margin-top: 0;
	margin-bottom: 0;
	overflow: auto;
	white-space: nowrap;
	clear: both;
	-webkit-overflow-scrolling: touch;
}


.search-page-main > .content-results {
	position: relative;
	float: left;
	width: 100%;
	max-width: 900px;
	margin: 15px;
	margin-top: 0;
	overflow: hidden;
	clear: both;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.search-page-main .result-item-container {
	width: 150px;
	height: 150px;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
	color: white;
	font-size: 10pt;
	overflow: hidden;
	box-shadow: rgba(80,80,80,.6) 0px 0px 8px;
	cursor: pointer;
}


.search-page-main .content-results .result-item-container {
	width: 100%;
	height: 175px;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	color: white;
	font-size: 10pt;
	overflow: hidden;
}



.search-page-main .result-item-container > .result-item-inner {
	position: absolute;
	float: left;
	width: 150px;
	height: 150px;
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


.search-page-main .result-item-inner .result-item-inner-top {
	position: relative;
	float: left;
	width: 100%;
	height: 30px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(140,140,140);
	background: rgb(80,80,80);
	z-index: 25;
}
.search-page-main .result-item-inner .result-item-inner-rest {
	position: relative;
	/*float: left;*/
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 25;
}

.result-item-container .img-container {
	position: absolute;
	height: 120px;
	width: 100%;
	z-index: 24;
	border-radius: 2px;
	background: green;
	/*size: 100%;*/
	/*overflow: hidden;*/
	/*background: red;*/
	/*box-shadow: rgba(80,80,80,.5) 0 0 8px;*/
}

.result-item-container img {
	position: relative;
	top: 0;
	/*height: 120px;*/
	/*width: 120px;*/
	width: 130%;
	height: auto;
}











.results-inner-top {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 10px;
	margin-bottom: 20px;
	/*float: left;*/
	width: 100%;
	height: 20px;
	background: rgb(120,120,120);
	background: transparent;
	padding-left: 40px;
	color: black;
}



